* {
    margin: 0 auto;
}

a:hover {
    color: rgba(219,210,193,255);
}

header h1 {
    text-align: center;
    color: rgba(219,210,193,255);
    background-color: rgba(72,53,39,255);
    border: solid 5px;
    padding: 30px;
    font-size: 150px;
}

.nav {
    background-image: url("../images/barnwood.jpg");
    height: 725px;
    display: flex;
    padding: 10px;
    border: solid;
    flex: 0 2 auto;
}

.nav div {
    margin: auto;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 100px;
    flex-grow: 4;
    bottom: 0;
}

.projects div {
    flex: 0 2 auto;
    background-color: rgba(219,210,193,255); 
}

.projects h2 {
    text-align: center;
    font-size: 100px;
}

.projects a {
    color: rgba(72,53,39,255);
}

.projects a:hover {
    color: rgba(219,210,193,255);
}

.projects-right {
    float: right;
    width: 50%;
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

.text-left {
    float: left;
    width: 50%;
    margin-top: 200px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

.projects img {
    width: 45%;
    height: 600px;
}

.history {
    background-color: rgba(72,53,39,255);
    display: inline-block;
    flex: 0 2 auto;
    border: solid 5px;
}

.history img {
    float: right;
    margin: 0 0 0 0;
    height: 600px;
}

footer {
    background-color: rgba(219,210,193,255);
    text-align: center;
    font-size: 25px;
    padding: 25px;
    border: solid 5px;
}

footer a {
    color: rgba(72,53,39,255);
}

footer a:hover {
    color: darkred;
}



